body
{
  padding: 30px;
  background-color: #615d5d;  
}

.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 400px;
  border-radius: 3px;

}

